In [1]:
import pandas as pd

In [17]:
import numpy as np

In [2]:
df = pd.DataFrame()

In [19]:
a = np.array([0, 1, 2, 3], dtype=np.bool)

In [22]:
a[3] = 0

In [23]:
a

array([False,  True,  True, False], dtype=bool)

In [3]:
df["Case"] = [1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3]

In [5]:
df["Activity"] = ["a", "b", "c", "c", "a", "e", "d", "a", "d", "c", "a", "a", "b", "d"]

In [6]:
df["Time"] = [0, 1, 4, 7, 8, 10, 3, 5, 6, 9, 11, 20, 21, 22]

In [10]:
print(len(df.Case))
print(len(df.Activity))
print(len(df.Time))

14
14
14

In [12]:
df[df.Case == 1]["Time"]

0     0
1     1
2     4
3     7
4     8
5    10
Name: Time, dtype: int64

In [13]:
df["Duration"] = [0, 1, 3, 4, 1, 2, 0, 2, 1, 3, 2, 0, 1, 1]

In [14]:
df

    Case Activity  Time  Duration
0      1        a     0         0
1      1        b     1         1
2      1        c     4         3
3      1        c     7         4
4      1        a     8         1
5      1        e    10         2
6      2        d     3         0
7      2        a     5         2
8      2        d     6         1
9      2        c     9         3
10     2        a    11         2
11     3        a    20         0
12     3        b    21         1
13     3        d    22         1

In [16]:
df[df["Activity"] == "a"]

    Case Activity  Time  Duration
0      1        a     0         0
4      1        a     8         1
7      2        a     5         2
10     2        a    11         2
11     3        a    20         0

In [ ]:
a